<li class="active">
  <a href="#tab1" data-toggle="tab">Edit Profile</a>
</li>
<li>
  <a href="#tab2" data-toggle="tab">Change Password</a>
</li>
<li>
  <a href="#tab3" data-toggle="tab">Sharing With Other Networks</a>
</li>
<li>
  <a href="#tab4" data-toggle="tab">Privacy Settings</a>
</li>
<li>
  <a href="#tab5" data-toggle="tab">Notifications</a>
</li>
<li>
  <a href="#tab6" data-toggle="tab">Connected Apps</a>
</li>
<li>
  <a href="#tab7" data-toggle="tab">Local Updates</a>
</li>

