<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Moods</a></li>
    <li><a href="#tab2" data-toggle="tab">Sub-moods</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <h3>
	<% if current_user.has_role? :user %>
	  What is your mood today?
	<% else %>
	  Listing Moods
	<% end %>
      </h3>
	<% @moods.each do |mood| %>
	  <%= link_to image_tag(mood.mood_picture_url, title: mood.name, style: "background:gainsboro;"), {:action => 'show_sub_moods', :controller => 'home', :id => mood.id }, :remote => true %>
	<% end %>
	<% if current_user.has_role? :admin%>
	  <ul class="nav nav-pills">
	    <li class="active">
	      <%= link_to 'New Mood', new_mood_path   %>
	    </li>
	  </ul>
	<% end %>
    </div>
    <div class="tab-pane" id="tab2">
      <% @moods.each do |m| %>
      <% m.sub_moods.each do |mood| %>
	  <%= link_to image_tag(mood.sub_mood_picture, title: mood.name), url_for({:controller => "home", :action => "show_sub_moods", :id => mood.id }), :remote => true  %>
	<% end %>
	<% end %>
    </div>
  </div>
</div>








